<section class="edit_page">
	<h1>Editing Book</h1>

	<%= form_for(@book) do |f| %>

		<h6>Title</h6>
		<%= f.text_field :title, class: "book_title" %>

		<h6>Body</h6>
		<%= f.text_area :body, class: "book_body"%>

		<%= f.submit "Update Book", class: "btn" %>

	<% end %>

	<%= link_to "Show", book_path(@book), class: "show_#{@book.id}" %>
	<span>|</span>
	<%= link_to "Back", books_path, class: "back" %>
</section>
